<%- include('../partials/header', {title: title}) -%>
<h1><%- title %></h1>

<p>Email: <%- user.email %></p>
<a href="/auth/admin/users/<%=user.id%>" type="button">Modifier</a>

<%- include('../partials/footer') -%>